<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Create_Account</title>
</head>
<body>

<center>
  <br><br><br>
  <form action="/new_account/" method="POST">
    <p>Username
    (no,  
          <code>'_'</code>, 
          <code>' '</code> or 
          <code>'/'</code> allowed):</p>
    <br>
    <textarea 
            name="username" 
            rows="1" 
            cols="18"></textarea><br>
    <br>
    <p>Password:</p>
    <br>
    <textarea name="password" 
              rows="1" 
              cols="18"></textarea><br>
    <input type="submit" value="Submit">
  </form>
</center>

</body>
